.block_countdown_timer,
.countdown-ended {
    font-size: 1.2em;
    text-align: center;
    display: block;
}

.countdown-daystext {
    font-size: 0.9em;
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
    font-size: 1.2em;
}

.countdown-devider {
    padding: 0 2px;
}